body{
  background-color: #eee;
  color: #666;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

body, html{
  width: 100%;
  height: 100%;
}

#header{
  position: absolute;
  top: 2px;
  width: 100%;
  z-index: 7;
}

#header a{
  color: #818FA6;
  font-size: 15px;
}

#header a:hover{
  color: white;
}

#footer{
  color: #ccc;
  background-color: white;
  border-top: 2px solid #eee;
  padding: 10px;
}

#footercontent{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

#footer .countrylink{
  display: inline-block;
  width: 40px;
  height: 20px;
  font-size: 9px;
  overflow: visible;
  float: left;
  position: relative;
  text-transform: uppercase;
}

#footer .countrylink a{
  color: #aaa;
  position: relative;
  display: block;
  text-align: center;
  width: 40px;
  left: 0px;
}

#footer .countrylink a .countryname{  display: none; }
#footer .countrylink a .countrycode{  display: inline; }
#footer .countrylink a:hover .countryname{  display: inline; }
#footer .countrylink a:hover .countrycode{  display: none; }

#footer .countrylink a:hover{
  font-size: 14px;
  background: #eee;
  color: black;
  border: 2px solid white;
  border-radius: 4px;
  position: relative;
  width: 260px;
  left: -118px;
  top: -16px;
  padding: 5px;
  -webkit-transition: color 0.5s;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  z-index: 7;
}


#headingarea{
  background: #485566 url('/img/world.png') top center repeat-x;
  color: white;
  min-height: 550px;
  -webkit-transform: top;
    font-family: 'Ubuntu', Helvetica, Verdana, Arial, sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: 'Ubuntu', Helvetica, Verdana, Arial, sans-serif;  
}

#maparea{
  width: 100%;
  max-width: 1024px;
  margin: 0 -512px;
  position: relative;
  overflow: hidden;
  left: 50%;
  min-height: 600px;
}

a{
  text-decoration: none;
  color: #485566;
}

#headingarea a{
  color: #818FA6;
  -webkit-transition: color 0.2s;
  text-decoration: none;
}

#headingarea a:hover{
  color: white;
}
.autocomplete-suggestions{
  text-align: center;
  padding: 2px;
  color: #ccc;
  margin: 3px;
  border-radius:  4px;
  background-color: rgba(0,0,0,0.5);
  max-height: 240px;
  overflow: hidden;
  /*text-transform: uppercase;*/
}

.autocomplete-suggestion{
  cursor: pointer;
}
.autocomplete-suggestion:hover{
  background-color: black;
  text-shadow: 0px 0px 2px white;
}

.country .autocomplete-suggestions{
  background-color: rgba(30,35,43,0.9);
}

.autocomplete-suggestions strong{
  color: white;
}

#heading{
  position: absolute;
  top: 250px;
  width: 460px;
  left: 50%;
  margin-left: -230px;
  text-align: center;
  -webkit-transform: top 2s;
}

#heading h1{
  margin: 0;
  padding: 0;
  font-size: 75px;
  line-height: 68px;
  font-family: 'Ubuntu', Helvetica, Verdana, Arial, sans-serif;
  height: 126px;
}

#heading a{
  text-shadow: 0px 0px 5px rgba(0,0,0,0.75);
  color: #ccc;
  -webkit-transition: color 0.5s;
}

#heading a:hover{
  text-shadow: 0px 0px 5px rgba(0,0,0,1);
  color: #ddd;
}

#searchbox{
  width: 350px;
  margin: 15px;
  line-height: 25px;
  font-size: 20px;
  padding: 1px 10px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #485566;
  border-radius: 6px;
  color: #485566;
  font-family: 'Ubuntu', Helvetica, Verdana, Arial, sans-serif;
  background-color: white;

}


.flagicon{
  position: absolute;
  text-align: center;
}

#flag_jp{
  top: 200px;
  left: 920px;
}

#flag_us{
  top: 200px;
  left: 220px;
}

#flag_uk{
  top: 120px;
  left: 500px;
}

#infoarea{
  display: none;
  background-color: #eee;
  border-top: 2px solid white;
  position: absolute;
  top: 100%;
  width: 100%;
  padding-top: 20px;
  min-height: 300px;
  -webkit-transition: top;
}

#results{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.serviceBox{
  display: inline-block;
  float: left;
  width: 290px;
  margin: 20px 0px 10px 20px;
  background-color: white;
  border: 2px solid #ddd;
  padding: 5px;
  border-radius: 4px;
}

.serviceBox a h3{
  font-family: 'Ubuntu', Helvetica, Verdana, Arial, sans-serif;
  font-size: 15px;
  color: white;
  background-color:  #485566;
  margin: 0;
  margin-left: 22px;
  padding: 3px;
  border-radius: 3px;
  text-indent: 3px;
}

.serviceBox .box-cta{
  text-align: right;
  margin: 4px 1px;
}

.serviceBox a.button{
  background-color: #F7931A;
  border: 1px solid #BE7318;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
  border-radius: 3px;
  padding: 3px 8px;
  color: white;
  position: relative;
  left:0;
  top:-1px;
  -webkit-transition: top 0.2s, text-shadow 0.2s;
}

.serviceBox a.button:hover{
  border: 1px solid #BE7318;
  text-shadow: 0 0 2px #000;
  top: 0;
}

.serviceBox a img{
  margin-left: -26px;
  margin-right: 3px;
}

.serviceBox .box-content{
  margin-left: 25px;
  margin-right: 10px;
}

.country #headingarea{
  position: relative;
  top: -100px;
  -webkit-trainsition: top 0.5s;
  height: 350px;
  min-height: 0;
}

.country #heading{
  top:90px;
}

.country #infoarea{
  display: block;
  position: relative;
  top: -100px;
  -webkit-trainsition: top 0.5s;
}


