body{
  background: #485566;/* url('/img/world.png') top center repeat-x;*/
  color: #666;
  font-family: 'Merriweather Sans', Helvetica, Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#titlearea{
  width: 1024px;
  background: url('/img/world.png') top center repeat-x;
  margin: 0 auto;
  color: white;
  position: relative;
  min-height: 600px;
  -webkit-transform: top;
}

a{
  text-decoration: none;
  color: #485566;
}

#titlearea a{
  color: white;
  text-decoration: none;
}

.autocomplete-suggestions{
  text-align: center;
  padding: 2px;
  color: #ccc;
  background-color: #485566;
  /*text-transform: uppercase;*/
}

.autocomplete-suggestions strong{
  color: white;
}

#title{
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 250px;
  margin: 0 auto;
  text-align: center;
  -webkit-transform: top 2s;
}

#searchbox{
  width: 350px;
  margin: 15px;
  border: 1px solid silver;
  line-height: 25px;
  font-size: 18px;
  padding: 1px 10px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #999;
  border-radius: 6px;
  color: #485566;
  font-family: 'Merriweather Sans', Helvetica, Verdana, Arial, sans-serif;
}

.flagicon{
  position: absolute;
  text-align: center;
}

#flag_jp{
  top: 200px;
  left: 920px;
}

#flag_us{
  top: 200px;
  left: 220px;
}

#flag_uk{
  top: 120px;
  left: 500px;
}

#infoarea{
  display: none;
  background-color: #eee;
  border: 2px solid white;
  position: absolute;
  top: 100%;
  width: 100%;
  padding-top: 20px;
  min-height: 300px;
  -webkit-transform: top;
}

#results{
  width: 1024px;
  margin: 0 auto;
}

.serviceBox{
  width: 290px;
  margin: 0 0px 20px 20px;
  float: left;
  background-color: white;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.country #titlearea{
  position: relative;
  top: -100px;
}

.country #title{
  padding-top:100px;
}

.country #infoarea{
  display: block;
  top: 250px;
}

